<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
      <button class="nav-bar">
        <a href="/" class="nav-links">Homepage</a>
        <a href="/dashboard" class="nav-links">Dashboard</a>
        {{#unless logged_in}}
        <a href="/login" class="nav-links">Log in</a>
        {{/unless}}
        {{#if logged_in}}
        <button type="submit" id="logout" class="log-out-btn"><a href="/" class="nav-links">Log Out</a></button>
        {{/if}}
      <div class="main-header">
        <h1><span class="header-home"><a href="/" class="header-home">The Tech Blog</a></span></h1>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="./js/logout.js"></script>
    <script src="../../utils/helpers.js"></script>
</body>

</html>