<div class="users-blog-posts">
    <div class="nbh">
        <h3>Welcome {{username}}, here are your current blogs:</h3>
    </div>
    {{#if blogs.length}}
<div class="new-blog">
    {{#each blogs as |blog|}}
        <div class="holding-user-blogs">
            <div class="user-clog-content">
                <h3>{{blog.blog_title}}</h3>
                <p>{{blog.blog_content}}</p>
            </div>
        </div>
        {{/each}}
        </div>
    {{/if}}
</div>

<div class="new-user-blog">
    <div class="page-title nbh">
        <h4>Create New Blog</h4>
    </div>
    <form class="new-blog">
      <div class="form-group">
        <label for="project-name">Blog Title:</label>
        <input
          class="form-input-d"
          type="text"
          id="blog-title"
          name="blog-title"
        />
      </div>
      <div class="form-group">
        <label for="project-desc">Blog Content:</label>
        <textarea
          class="form-input-d"
          id="blog-content"
          name="blog-content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Blog</button>
      </div>
    </form>
</div>

<script src='./js/newBlogPost.js'></script>