{{#each allCurBlogs}}
<div class="cur-blog">
  <div class="cur-blog-head">
    <div class="cur-blog-title"> 
      <h2>Title: {{blog_title}}</h2>
    </div>
    <div class="cur-blog-username">
      <p class="cur-blog-user">Posted by: {{user.username}}</p>
      <p>Created on: {{format_date}}</p>
    </div>
  </div>
  <div class="cur-blog-message">
    <p class="cur-blog-mes">
      {{blog_content}}
    </p>
  </div>
</div>
{{/each}}