{{#each allCurBlogs as |curblog|}}
<div class="users-blog-posts new-blog hp-g">
  <div class="cur-blog-head">
    <div class="cur-blog-title"> 
      <h3>Title: {{blog_title}}</h3>
    </div>
    <div class="cur-blog-username">
      <p class="cur-blog-user">Posted by: {{user.username}}</p>
      <p>Created on: {{format_date date_created}}</p>
    </div>
  </div>
  <div class="cur-blog-message">
    <p class="cur-blog-mes">
      {{blog_content}}
    </p>
  </div>
</div>
{{/each}}