<div class="welcome-user">
    <div class="center">
        <h2>Welcome, {{username}}</h2>
    </div>
</div> 

<div class="users-blog-posts">
    <div class="user-posts-head">
        <h3>{{username}}, here are your current blogs:</h3>
    </div>
    {{#if blogs.length}}
<div>
    {{#each blogs as |blog|}}
        <div class="holding-user-blogs">
            <div class="user-clog-content">
                <h2>{{blog.blog_title}}</h2>
                <p>{{blog.blog_message}}</p>
            </div>
        </div>
        {{/each}}
        </div>
    {{/if}}
</div>

<div class="new-user-blog">
    <div class="new-blog-head">
        <h4>Create New Blog</h4>
    </div>
    <form class="form new-blog">
      <div class="form-group">
        <label for="project-name">Blog Title:</label>
        <input
          class="form-input"
          type="text"
          id="blog-title"
          name="blog-title"
        />
      </div>
      <div class="form-group">
        <label for="project-desc">Blog Content:</label>
        <textarea
          class="form-input"
          id="blog-content"
          name="blog-content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Blog</button>
      </div>
    </form>
</div>

<script src='./js/newBlog.js'></script>